name: Wheels

# yamllint disable-line rule:truthy
on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - requirements.txt
      - requirements_build.txt

jobs:
  build:
    name: Build ${{ matrix.arch }}-python${{ matrix.python }}-alpine${{ matrix.alpine }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python: ["3.8", "3.9"]
        alpine: ["3.12", "3.13", "3.14"]
        arch: ["aarch64", "armhf", "armv7", "amd64", "i386"]

    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v2.3.4

      - name: Prepare requirements
        run: cat requirements.txt requirements_build.txt > requirements_all.txt

      - name: Build wheels
        uses: ./
        with:
          tag: ${{ matrix.python }}-alpine${{ matrix.alpine }}
          arch: ${{ matrix.arch }}
          wheels-host: wheels.hass.io
          wheels-key: ${{ secrets.WHEELS_KEY }}
          apk: "build-base;libffi-dev;openssl-dev"
          requirements: "requirements_all.txt"
