name: Wheels

on:
  push:
    branches:
      - master
    paths:
    - requirements.txt
    - requirements_build.txt

jobs:
  build:
    name: Build ${{ matrix.arch }}-python${{ matrix.python }}-alpine${{ matrix.alpine }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.7", "3.8"]
        alpine: ["3.10", "3.11", "3.12"]
        arch: ["aarch64", "armhf", "armv7", "amd64", "i386"]
        
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v2

      - name: Prepare requirements
        run: cat requirements.txt requirements_build.txt > requirements_all.txt


    - name: Build wheels
      uses: home-assistant/wheels@master
      with:
        tag: ${{ matrix.python }}-alpine${{ matrix.alpine }}
        arch: ${{ matrix.arch }}
        wheels-host: ${{ secrets.WHEELS_HOST }}
        wheels-key: ${{ secrets.WHEELS_KEY }}
        apk: "build-base;libffi-dev;openssl-dev"
        requirements: "requirements_all.txt"
