name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  PYTHON_VERSION: "3.13"

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v5.0.0

      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v6.0.0
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install requirements
        run: python3 -m pip install -r requirements.txt -r requirements_tests.txt

      - name: Run pytest
        run: pytest

  prek:
    name: Prek
    runs-on: ubuntu-latest
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v5.0.0

      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v6.0.0
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install requirements
        run: python3 -m pip install -r requirements.txt -r requirements_tests.txt

      - name: Run prek
        uses: j178/prek-action@91fd7d7cf70ae1dee9f4f44e7dfa5d1073fe6623 # v1.0.11
        env:
          PREK_SKIP: no-commit-to-branch

  hadolint:
    name: Hadolint
    runs-on: ubuntu-latest
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v5.0.0

      - name: Lint Dockerfile
        uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: "Dockerfile"
          failure-threshold: warning

  test:
    name: Test wheels ${{ matrix.arch }}-${{ matrix.abi }}-${{ matrix.tag }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        abi: ["cp313", "cp314"]
        tag: ["musllinux_1_2"]
        arch: ["aarch64", "amd64"]
        include:
          - runs-on: ubuntu-latest
          - arch: aarch64
            runs-on: ubuntu-24.04-arm

    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v5.0.0

      - name: Write env-file
        shell: bash
        run: |
          (
            echo "CARGO_NET_GIT_FETCH_WITH_CLI=true"
          ) > .env_file

      - name: Build wheels
        uses: ./
        with:
          abi: ${{ matrix.abi }}
          tag: ${{ matrix.tag }}
          arch: ${{ matrix.arch }}
          apk: "mariadb-dev;postgresql-dev;libffi-dev;openssl-dev"
          skip-binary: "orjson"
          env-file: True
          test: True
          requirements: "requirements_wheels_test.txt"
