name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  PYTHON_VERSION: "3.13"

jobs:
  tox:
    name: Tox
    runs-on: ubuntu-latest
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v5.0.0

      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v5.6.0
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install tox
        run: python3 -m pip install tox

      - name: Run tox
        run: tox

  hadolint:
    name: Hadolint
    runs-on: ubuntu-latest
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v5.0.0

      - name: Lint Dockerfile
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: "Dockerfile"
          failure-threshold: warning

  test:
    name: Test wheels ${{ matrix.arch }}-${{ matrix.abi }}-${{ matrix.tag }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        abi: ["cp313"]
        tag: ["musllinux_1_2"]
        arch: ["aarch64", "armhf", "armv7", "amd64", "i386"]

    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v5.0.0

      - name: Write env-file
        shell: bash
        run: |
          (
            echo "CARGO_NET_GIT_FETCH_WITH_CLI=true"
          ) > .env_file

      - name: Build wheels
        uses: ./
        with:
          abi: ${{ matrix.abi }}
          tag: ${{ matrix.tag }}
          arch: ${{ matrix.arch }}
          apk: "mariadb-dev;postgresql-dev;libffi-dev;openssl-dev"
          skip-binary: "orjson"
          env-file: True
          test: True
          requirements: "requirements_wheels_test.txt"
