name: "Publish"

on:
  release:
    types: [published]
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  publish:
    name: Publish builder
    runs-on: ubuntu-latest
    strategy:
      fail-fast: False
      matrix:
        abi: ["cp313", "cp314"]
        tag: ["musllinux_1_2"]
        arch: ["aarch64", "armhf", "armv7", "amd64", "i386"]
        include:
          - abi: cp313
            tag: musllinux_1_2
            base: 3.13-alpine3.22
          - abi: cp314
            tag: musllinux_1_2
            base: 3.14-alpine3.22
        exclude:
          - abi: cp314
            arch: armhf
          - abi: cp314
            arch: armv7
          - abi: cp314
            arch: i386
    steps:
      - name: Checkout the repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - shell: bash
        id: info
        run: |
          declare -a docker

          name="ghcr.io/home-assistant/wheels/${{ matrix.arch }}/${{ matrix.tag }}/${{ matrix.abi }}"

          version=$(echo "${{ github.ref }}" | awk -F"/" '{print $NF}' )
          if [ "${version}" = "master" ]; then
            version=dev
          fi

          base="ghcr.io/home-assistant/${{ matrix.arch }}-base-python:${{ matrix.base }}"

          if [ "${{ matrix.arch }}" = "armhf" ]; then
            docker+=("--build-arg QEMU_CPU=arm1176")
          fi

          if docker pull "$name:dev" > /dev/null 2>&1; then
            docker+=("--cache-from $name:dev")
          fi

          echo "name=$name" >> $GITHUB_OUTPUT
          echo "version=$version" >> $GITHUB_OUTPUT
          echo "base=$base" >> $GITHUB_OUTPUT
          echo "docker=${docker[@]}" >> $GITHUB_OUTPUT

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Build Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: . # So action will not pull the repository again
          load: true
          tags: ${{ steps.info.outputs.name }}:${{ steps.info.outputs.version }}
          push: false
          build-args: |
            BUILD_FROM=${{ steps.info.outputs.base }}
            BUILD_ARCH=${{ matrix.arch }}
            CPYTHON_ABI=${{ matrix.abi }}

      - name: Push Docker image
        # if: github.event_name != 'pull_request'
        id: push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: . # So action will not pull the repository again
          push: false # todo
          tags: |
            ${{ steps.info.outputs.name }}:${{ steps.info.outputs.version }}
            ${{ steps.info.outputs.name }}:${{ github.sha }}
