name: "Publish"

on:
  release:
    types: [published]
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  publish:
    name: Publish builder
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: False
      matrix:
        abi: ["cp313", "cp314"]
        tag: ["musllinux_1_2"]
        arch: ["aarch64", "armhf", "armv7", "amd64", "i386"]
        include:
          - abi: cp313
            tag: musllinux_1_2
            base: 3.13-alpine3.22
          - abi: cp314
            tag: musllinux_1_2
            base: 3.14-alpine3.22

          - arch: aarch64
            platform: linux/arm64
            runs-on: ubuntu-24.04-arm
          - arch: armhf
            platform: linux/arm/v6
            runs-on: ubuntu-latest
          - arch: armv7
            platform: linux/arm/v7
            runs-on: ubuntu-latest
          - arch: amd64
            platform: linux/amd64
            runs-on: ubuntu-latest
          - arch: i386
            platform: linux/386
            runs-on: ubuntu-latest
        exclude:
          - abi: cp314
            arch: armhf
          - abi: cp314
            arch: armv7
          - abi: cp314
            arch: i386
    steps:
      - name: Checkout the repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - shell: bash
        id: info
        run: |
          declare -a docker

          name="ghcr.io/home-assistant/wheels/${{ matrix.arch }}/${{ matrix.tag }}/${{ matrix.abi }}"

          version=$(echo "${{ github.ref }}" | awk -F"/" '{print $NF}' )
          if [ "${version}" = "master" ]; then
            version=dev
          fi

          if [ "${{ matrix.arch }}" = "armhf" ]; then
            docker+=("QEMU_CPU=arm1176")
          fi

          echo "name=$name" >> $GITHUB_OUTPUT
          echo "version=$version" >> $GITHUB_OUTPUT
          echo "docker=${docker[@]}" >> $GITHUB_OUTPUT

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Build Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: . # So action will not pull the repository again
          push: ${{ github.event_name != 'pull_request' }}
          pull: true
          platforms: ${{ matrix.platform }}
          cache-from: type=registry,ref=${{ steps.info.outputs.name }}:dev
          build-args: |
            BUILD_FROM=ghcr.io/home-assistant/${{ matrix.arch }}-base-python:${{ matrix.base }}
            BUILD_ARCH=${{ matrix.arch }}
            CPYTHON_ABI=${{ matrix.abi }}
            ${{ steps.info.outputs.docker }}
          tags: |
            ${{ steps.info.outputs.name }}:${{ steps.info.outputs.version }}
            ${{ steps.info.outputs.name }}:${{ github.sha }}
