name: 'Stale'
on:
  schedule:
    - cron: '59 * * * *'

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v8
        with:
          stale-issue-message: 'This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.'
          stale-issue-label: 'wontfix'
          exempt-issue-labels: 'pinned,security'
          days-before-stale: 60
          days-before-close: 7
          days-before-pr-close: -1
